.layoutWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  background-color: var(--bg-primary-white);
  flex-shrink: 0;
  border-bottom: 1px solid var(--bg-primary-grey);
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: var(--bg-primary-dark);
  color: var(--text-primary-white);
  height: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
